DISCORD_BOT_TOKEN=
DISCORD_APPLICATION_ID=
DISCORD_GUILD_ID=
DATA_DIRECTORY=./data
NITRADO_TOKEN=
NITRADO_SERVICE_ID=
NITRADO_LOG_DIRECTORY=
NITRADO_DOWNLOAD_HOSTS=nitrado.net,*.nitrado.net
NITRADO_MAX_DOWNLOAD_BYTES=16777216
NITRADO_POLL_INTERVAL_MS=60000
NITRADO_REQUEST_TIMEOUT_MS=15000
NITRADO_RETRY_LIMIT=3
NITRADO_BACKOFF_BASE_MS=1000
NITRADO_BACKOFF_MAX_MS=30000
NITRADO_DISCOVERY_MAX_DEPTH=8
NITRADO_DISCOVERY_MAX_ENTRIES=10000
