DISCORD_BOT_TOKEN=
DISCORD_APPLICATION_ID=
DISCORD_GUILD_ID=
DISCORD_JOIN_LEAVE_CHANNEL_ID=
DISCORD_PLAYER_COUNT_CHANNEL_ID=
DISCORD_KILLFEED_CHANNEL_ID=
DISCORD_RAID_BUILD_CHANNEL_ID=
DISCORD_BOT_STATUS_CHANNEL_ID=
DISCORD_ADMIN_AUDIT_CHANNEL_ID=
DATA_DIRECTORY=/data
NITRADO_TOKEN=
NITRADO_SERVICE_ID=
NITRADO_LOG_DIRECTORY=/dayzxb/config
NITRADO_DOWNLOAD_HOSTS=nitrado.net,*.nitrado.net
NITRADO_MAX_DOWNLOAD_BYTES=16777216
NITRADO_POLL_INTERVAL_MS=60000
NITRADO_REQUEST_TIMEOUT_MS=15000
NITRADO_RETRY_LIMIT=3
NITRADO_BACKOFF_BASE_MS=1000
NITRADO_BACKOFF_MAX_MS=30000
NITRADO_DISCOVERY_MAX_DEPTH=8
NITRADO_DISCOVERY_MAX_ENTRIES=10000
